# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/

.ng_pkg_build/
.sonarlint/
.vscode/

node_modules/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

*.js
*.js.map
*.umd.js.map
*.d.ts

dist.tgz
dist/

!protractor.conf.js
